{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.imagePath %}
        <img class="img-responsive" alt="{{ object.name }}" src="{{ asset(object.imagePath) }}" style="max-width: 100px; max-height: 100px;" />
    {% else %}
        <span>No image</span>
    {% endif %}
{% endblock field %}
